@import "./page.scss";
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
  -webkit-appearance: none !important; 
 }
/* chrome */
input[type="number"]{
  -moz-appearance:textfield;/* firefox */
}
p, div {
  margin: 0;
  padding: 0;
}
.c-hig-btn {
  font-size: 13px;
  font-weight: 600;
  color: #7F63F4;
  cursor:pointer;
}
.c-tit2 {
  color: #464A53;
  font-size: 17px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
}
// 设置各种颜色
.c-title {
  height: 54px;
  font-size: 18px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #464A53;
  line-height: 54px;
  padding: 16px;
}
.main-body {
  width: calc(100% - 64px);
  margin-left: 32px;
  margin-top: 32px;
  background-color: #ffffff;
  padding: 20px;
}
div, p, span {
    text-align: left;
}
.fl {
  display: flex;
}
.fl-wp {
  display: flex;
  flex-wrap: wrap;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sat {
  justify-content: flex-start;
}
.jc-ctr {
  justify-content: center;
}
.jc-end {
  justify-content: flex-end;
}
.fd-c {
  flex-direction: column;
}
.fd-r {
  flex-direction: row;
}
.ai-sat {
  align-items: flex-start;
}
.ai-ctr {
  align-items: center;
}
.ai-end {
  align-items: flex-end;
}
.ac-sat {
  align-content: flex-start;
}
.ac-end {
  align-content: flex-end;
}
.ac-ctr {
  align-content: center;
}
.as-end{
  align-self: end;
}
.as-sat {
  align-self: start;
}
.as-ctr {
  align-self: center;
}
/* 公共的左右边距 */
.mgr-l {
  margin-left: 20px;
}
.mgr-r {
  margin-right: 20px;
}
.mgr-t {
  margin-top: 20px;
}
.mgr-b {
  margin-bottom: 20px;
}
.mgr-l-3 {
  margin-left: 30px;
}
.mgr-t-3 {
  margin-top: 30px;
}
.mgr-b-3 {
  margin-bottom: 30px;
}
.mgr-r-3 {
  margin-right: 30px;
}
.mgr-t-50 {
  margin-top: 50px;
}
.mgr-b {
  margin-bottom: 20px;
}
.pdg-l {
  padding-left: 20px;
}
.pdg-r {
  padding-right: 20px;
}
.pdg-t {
  padding-top: 20px;
}
.pdg-t-50 {
  padding-top: 50px;
}
.pdg-b-50 {
  padding-bottom: 50px;
}
.pdg-t-40 {
  padding-top: 40px;
}
.pdg-b {
  padding-bottom: 20px;
}
/* 宽度汇总 */
.w-c {
  width: calc(100% - 40px);
}
.w-c-3 {
  width: calc(100% - 60px);
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.bdr-l {
  border-left: 4px #FD5866 solid;
}
.ctf {
  color: #323232;
  font-size: 28px;
}
.p-rte {
  position: relative;
}
.bg-w {
  background-color: white;
}
.b-r {
  border-radius: 12px;
}
/* text */
.ol-t {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 带...的 */
.ol-t-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ol-t-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


.in-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.level-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.vertical-center {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
/* img */
/* 不可拖拽 */
.redrag {
  -webkit-user-drag: none;
}

/* elm */
/* 设置点击手图标 */
.cik-hnd {
  cursor:pointer;
}
.unsel {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
/**
* 字号
*/
.ft-14 {
  font-size: 28rpx;
}
.ft-12 {
  font-size: 23rpx;
}
/**
* common color
*/
.cl-main {
  color: #07C160
}
// common btn
.green-btn {
  width: 398rpx;
  height: 94rpx;
  background-color: #07C160;
  font-size: 36rpx;
  color: #ffffff;
  border-radius: 138rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}